@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


form {
  display: flex;
  flex-direction: row;
  padding: 1px;
  width: 400px;
  border-radius: 50px;
  outline: none;
  height: 30px;
}

.input-box {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: -10px;
  border-bottom-right-radius: -10px;
  display: inline;
  border: none;
  padding: 10px;
  padding-left: 30px;
  font-size: 25px;
  outline: none;
  font-family: 'Amatic SC', cursive;
}

.submit-btn {
  width: 50px;
  height: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  padding: 10px;
  background-color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  padding-right: 40px;
  font-weight: bold;
}

.input-box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.269);
  outline: none;
}

.wishes {
  display: grid;
  justify-content: center;
  width: 90%;
  flex-wrap: wrap;
  margin-top: 20px;
}

.single-wish {
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-color: rgba(207, 92, 169, 0.452);
}

.single-wish-text {
  flex: 1;
  border: none;
  font-size: 25px;
}

.icon {
  cursor: pointer;
  font-size: 22px;
  margin-left: 8px;
}

.edit-input {
  background-color: rgba(233, 157, 208, 0.67);
  flex: 1;
  border: none;
  font-size: 25px;
  font-family: 'Amatic SC', cursive;
}